<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button style="margin-top:15px;color:#fff" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <div class="row">
      <div class="col-5">
        <!-- <img  id="logo"  src="assets/logo.jpeg" alt=""> -->
        <h5 style="color:#fff;margin-top:30px">24HRS</h5>
      </div>
      <div class="col-7" style="text-align: right;width: 90%;margin-top: -40px;">
        <svg style="margin:5px;text-align:right" width="16" height="20" viewBox="0 0 16 20" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.0002 0C7.11654 0 6.4002 0.716344 6.4002 1.6V1.80156C3.63963 2.51189 1.5998 5.01775 1.5998 8.00003V13.6H2C0.895431 13.6 0 14.4955 0 15.6V15.8C0 16.3523 0.447715 16.8 1 16.8H15C15.5523 16.8 16 16.3523 16 15.8V15.6C16 14.4955 15.1046 13.6 14 13.6H14.3998V8.00003C14.3998 5.01803 12.3604 2.51237 9.60019 1.80176V1.6C9.60019 0.716344 8.88385 0 8.0002 0ZM5.5998 17.6C5.5998 18.9255 6.67432 20 7.9998 20C9.32529 20 10.3998 18.9255 10.3998 17.6H5.5998Z"
            fill="white" />
        </svg>
      </div>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content class="bg-class">
  <div style="width:100%;text-align: center;">
    <div class="myproduct-div mt-4 ">

      <div class="row">
        <div class="col-8">
          <h4 style="text-align: left;margin:6%;margin-top:7%; color: #5C5C5C;"> <b>My Profile</b></h4>
        </div>
        <div class="col-4">
          <button type="button" (click)="support()" class="btn btn-primary  support-btn ">Support </button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-4 ion-text-center">
          <img
            src="https://www.jadefontenotdds.com/site/wp-content/uploads/2019/02/92979836-stock-vector-profile-anonymous-face-icon-gray-silhouette-person-male-default-avatar-photo-placeholder-isolated-on.jpg"
            alt="">
        </div>
        <div class="col-8" style="margin-top: 8%;">
          <h5 style=" color: #5C5C5C;"> <b> {{userdetails.username}} store
              <svg id="edit" style="margin: 5px;" (click)="popupModelOpen()" width="20" height="15" viewBox="0 0 20 17"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 13.6571V16.5278C0 16.7923 0.244411 17 0.555478 17H3.93279C4.07721 17 4.22164 16.9528 4.32162 16.8584L16.4533 6.55589L12.2872 3.01472L0.166644 13.3172C0.0555479 13.4116 0 13.5249 0 13.6571ZM19.675 3.81739C20.1083 3.4491 20.1083 2.85419 19.675 2.4859L17.0754 0.276212C16.6421 -0.0920705 15.9422 -0.0920705 15.509 0.276212L13.4759 2.0043L17.642 5.54548L19.675 3.81739Z"
                  fill="black" />
              </svg>
            </b></h5>


        </div>
      </div>


      <div class="row" style="padding: 10px;">
        <div class="col-6">
          <p class="name">Username :</p>
        </div>
        <div class="col-6">
          <input type="text" id="edit-field" disabled [value]="userdetails.username">
        </div>

        <div class="col-6">
          <p class="name">Email:</p>
        </div>
        <div class="col-6">
          <input type="text" id="edit-field" disabled [value]="userdetails.email">
        </div>

        <div class="col-6">
          <p class="name">Mobile number :</p>
        </div>
        <div class="col-6">
          <input type="text" id="edit-field" disabled [value]="userdetails.mobile">
        </div>

        <div class="col-6">
          <p class="name">Store location :</p>
        </div>
        <div class="col-6">
          <input type="text" id="edit-field" disabled value="coimbatore">
        </div>



        <div class="row" style="padding-left: 10px;">
          <div class="col-4">
            <p class="name">Id Proof:</p>
          </div>
          <div class="col-3">
            <img
              src="https://media.istockphoto.com/vectors/format-file-isolated-on-white-background-vector-id1226002079?b=1&k=20&m=1226002079&s=170667a&w=0&h=QyCTGPkTl8uZDjpFH8TJMYigtx2JmJW9EFCB-xFJ044="
              alt="">
          </div>
          <div class="col-2">
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_uywti8w5.json" background="transparent"
              speed="1.5" style="width:100%;margin-left:5px;" autoplay></lottie-player>
          </div>
          <div class="col-3 mt-4">
            <ion-badge style="background-color: #FF6000;color:#fff">Upload Pdf</ion-badge>
          </div>
        </div>

        <div class="row" style="padding-left: 10px;">
          <div class="col-4">
            <p class="name">Address Proof:</p>
          </div>
          <div class="col-3">
            <img
              src="https://media.istockphoto.com/vectors/format-file-isolated-on-white-background-vector-id1226002079?b=1&k=20&m=1226002079&s=170667a&w=0&h=QyCTGPkTl8uZDjpFH8TJMYigtx2JmJW9EFCB-xFJ044="
              alt="">
          </div>
          <div class="col-2">
            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_slGFhN.json" background="transparent"
              speed="1.5" style="width:100%;margin-left:5px;" autoplay></lottie-player>
          </div>
          <div class="col-3 mt-4">
            <ion-badge style="background-color: #FF6000;color:#fff">Upload Pdf</ion-badge>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="myproduct-div mt-4 mb-3">
    <p style="font-size:16px;margin-left:10px;margin-top:10px; color: #5C5C5C;">Select how customers can reach you :</p>
    <div class="row">
      <div class="col-2">
        <svg style="margin-left: 10px;" width="30" height="35" viewBox="0 0 38 37" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1172:10)">
            <path
              d="M12.6672 18.5C12.6672 17.2803 13.0386 16.0881 13.7346 15.074C14.4305 14.0599 15.4197 13.2695 16.577 12.8027C17.7343 12.336 19.0078 12.2139 20.2364 12.4518C21.465 12.6898 22.5935 13.2771 23.4793 14.1395C24.365 15.0019 24.9682 16.1007 25.2126 17.2969C25.457 18.4932 25.3316 19.7331 24.8522 20.8599C24.3728 21.9867 23.561 22.9498 22.5195 23.6274C21.4779 24.305 20.2534 24.6667 19.0007 24.6667C17.321 24.6667 15.71 24.017 14.5222 22.8605C13.3344 21.704 12.6672 20.1355 12.6672 18.5ZM9.24293 18.5C9.24293 20.3788 9.81512 22.2154 10.8872 23.7776C11.9592 25.3397 13.4829 26.5573 15.2656 27.2764C17.0484 27.9954 19.0101 28.1836 20.9027 27.8171C22.7952 27.4507 24.5337 26.546 25.8983 25.2176C27.2628 23.8892 28.1921 22.1966 28.5687 20.3539C28.9453 18.5113 28.7522 16.6013 28.014 14.8654C27.2757 13.1296 26.0253 11.6459 24.421 10.6019C22.8166 9.55797 20.9304 9.00065 19.0007 9.00043C17.7195 9.00038 16.4507 9.24607 15.267 9.72345C14.0832 10.2008 13.0076 10.9006 12.1016 11.7827C11.1956 12.6648 10.4769 13.7121 9.98663 14.8646C9.49633 16.0172 9.244 17.2525 9.24405 18.5H9.24293ZM26.8618 8.6239C26.8617 9.06298 26.9953 9.49223 27.2457 9.85739C27.4961 10.2225 27.8521 10.5072 28.2687 10.6754C28.6853 10.8435 29.1437 10.8876 29.586 10.8021C30.0283 10.7166 30.4347 10.5053 30.7537 10.1949C31.0726 9.88455 31.2899 9.48905 31.3781 9.05844C31.4662 8.62783 31.4212 8.18145 31.2487 7.77574C31.0763 7.37003 30.7842 7.02322 30.4093 6.77917C30.0344 6.53511 29.5936 6.40477 29.1427 6.40463C28.5382 6.40492 27.9585 6.6388 27.531 7.05491C27.1035 7.47102 26.8631 8.03534 26.8626 8.6239H26.8618ZM11.3259 33.5586C10.121 33.5452 8.92736 33.33 7.79738 32.9224C6.97211 32.6254 6.22543 32.1526 5.61193 31.5385C4.98031 30.9425 4.49453 30.2157 4.1906 29.4121C3.77124 28.312 3.54967 27.1499 3.53563 25.9765C3.44361 24.0264 3.42386 23.4406 3.42386 18.5004C3.42386 13.5601 3.44361 12.9758 3.53563 11.0242C3.55077 9.85111 3.77177 8.68918 4.18911 7.58863C4.49415 6.7851 4.97976 6.0581 5.61044 5.46076C6.22287 4.84545 6.96986 4.37243 7.79589 4.07689C8.92627 3.66879 10.1204 3.45344 11.3259 3.44027C13.3288 3.35068 13.9305 3.33145 19.0007 3.33145C24.071 3.33145 24.6749 3.35068 26.6793 3.44027C27.8841 3.45501 29.0775 3.67019 30.2078 4.07653C31.0334 4.37299 31.7802 4.84587 32.3933 5.4604C33.0245 6.05734 33.5101 6.78446 33.8146 7.58826C34.2335 8.68842 34.4545 9.8506 34.4681 11.0238C34.5601 12.9754 34.5799 13.5598 34.5799 18.5C34.5799 23.4402 34.5616 24.0246 34.4681 25.9762C34.4535 27.1493 34.2325 28.3113 33.8146 29.4117C33.4984 30.2096 33.0141 30.9341 32.3929 31.5387C31.7717 32.1432 31.0274 32.6145 30.2078 32.922C29.0779 33.3298 27.8843 33.5451 26.6793 33.5583C24.6764 33.6479 24.0747 33.6671 19.0007 33.6671C13.9268 33.6671 13.3266 33.6493 11.3259 33.5583V33.5586ZM11.1672 0.112088C9.59104 0.142448 8.03158 0.433021 6.55526 0.971431C5.28728 1.43599 4.13856 2.16412 3.18914 3.1051C2.2217 4.02863 1.47359 5.14715 0.997353 6.38214C0.444504 7.8197 0.146193 9.33818 0.115122 10.8729C0.0216087 12.8455 0 13.476 0 18.5C0 23.524 0.0216087 24.1545 0.115122 26.1271C0.14634 27.6617 0.444777 29.1801 0.997725 30.6175C1.47395 31.8525 2.22191 32.9711 3.18914 33.8949C4.13888 34.8354 5.28733 35.5636 6.55488 36.0289C8.03127 36.5671 9.59069 36.8577 11.1668 36.8883C13.194 36.9779 13.8404 37.0004 19.0004 37.0004C24.1604 37.0004 24.8079 36.9793 26.8339 36.8883C28.4101 36.8579 29.9695 36.5673 31.4459 36.0289C32.7084 35.5537 33.8549 34.8268 34.812 33.895C35.7691 32.9631 36.5157 31.8467 37.0038 30.6175C37.5574 29.1803 37.8559 27.6618 37.8864 26.1271C37.9784 24.153 37.9981 23.524 37.9981 18.5C37.9981 13.476 37.9765 12.8455 37.8864 10.8729C37.8552 9.33827 37.5568 7.8199 37.0038 6.3825C36.5259 5.14828 35.7782 4.02998 34.8123 3.1051C33.864 2.16366 32.7158 1.43533 31.4481 0.971069C29.9717 0.432382 28.4121 0.14192 26.8358 0.112088C24.8101 0.0224902 24.1622 0 19.0007 0C13.8392 0 13.1925 0.0210392 11.1657 0.112088"
              fill="url(#paint0_radial_1172:10)" />
            <path
              d="M12.6672 18.5C12.6672 17.2803 13.0386 16.0881 13.7346 15.074C14.4305 14.0599 15.4197 13.2695 16.577 12.8027C17.7343 12.336 19.0078 12.2139 20.2364 12.4518C21.465 12.6898 22.5935 13.2771 23.4793 14.1395C24.365 15.0019 24.9682 16.1007 25.2126 17.2969C25.457 18.4932 25.3316 19.7331 24.8522 20.8599C24.3728 21.9867 23.561 22.9498 22.5195 23.6274C21.4779 24.305 20.2534 24.6667 19.0007 24.6667C17.321 24.6667 15.71 24.017 14.5222 22.8605C13.3344 21.704 12.6672 20.1355 12.6672 18.5ZM9.24293 18.5C9.24293 20.3788 9.81512 22.2154 10.8872 23.7776C11.9592 25.3397 13.4829 26.5573 15.2656 27.2764C17.0484 27.9954 19.0101 28.1836 20.9027 27.8171C22.7952 27.4507 24.5337 26.546 25.8983 25.2176C27.2628 23.8892 28.1921 22.1966 28.5687 20.3539C28.9453 18.5113 28.7522 16.6013 28.014 14.8654C27.2757 13.1296 26.0253 11.6459 24.421 10.6019C22.8166 9.55797 20.9304 9.00065 19.0007 9.00043C17.7195 9.00038 16.4507 9.24607 15.267 9.72345C14.0832 10.2008 13.0076 10.9006 12.1016 11.7827C11.1956 12.6648 10.4769 13.7121 9.98663 14.8646C9.49633 16.0172 9.244 17.2525 9.24405 18.5H9.24293ZM26.8618 8.6239C26.8617 9.06298 26.9953 9.49223 27.2457 9.85739C27.4961 10.2225 27.8521 10.5072 28.2687 10.6754C28.6853 10.8435 29.1437 10.8876 29.586 10.8021C30.0283 10.7166 30.4347 10.5053 30.7537 10.1949C31.0726 9.88455 31.2899 9.48905 31.3781 9.05844C31.4662 8.62783 31.4212 8.18145 31.2487 7.77574C31.0763 7.37003 30.7842 7.02322 30.4093 6.77917C30.0344 6.53511 29.5936 6.40477 29.1427 6.40463C28.5382 6.40492 27.9585 6.6388 27.531 7.05491C27.1035 7.47102 26.8631 8.03534 26.8626 8.6239H26.8618ZM11.3259 33.5586C10.121 33.5452 8.92736 33.33 7.79738 32.9224C6.97211 32.6254 6.22543 32.1526 5.61193 31.5385C4.98031 30.9425 4.49453 30.2157 4.1906 29.4121C3.77124 28.312 3.54967 27.1499 3.53563 25.9765C3.44361 24.0264 3.42386 23.4406 3.42386 18.5004C3.42386 13.5601 3.44361 12.9758 3.53563 11.0242C3.55077 9.85111 3.77177 8.68918 4.18911 7.58863C4.49415 6.7851 4.97976 6.0581 5.61044 5.46076C6.22287 4.84545 6.96986 4.37243 7.79589 4.07689C8.92627 3.66879 10.1204 3.45344 11.3259 3.44027C13.3288 3.35068 13.9305 3.33145 19.0007 3.33145C24.071 3.33145 24.6749 3.35068 26.6793 3.44027C27.8841 3.45501 29.0775 3.67019 30.2078 4.07653C31.0334 4.37299 31.7802 4.84587 32.3933 5.4604C33.0245 6.05734 33.5101 6.78446 33.8146 7.58826C34.2335 8.68842 34.4545 9.8506 34.4681 11.0238C34.5601 12.9754 34.5799 13.5598 34.5799 18.5C34.5799 23.4402 34.5616 24.0246 34.4681 25.9762C34.4535 27.1493 34.2325 28.3113 33.8146 29.4117C33.4984 30.2096 33.0141 30.9341 32.3929 31.5387C31.7717 32.1432 31.0274 32.6145 30.2078 32.922C29.0779 33.3298 27.8843 33.5451 26.6793 33.5583C24.6764 33.6479 24.0747 33.6671 19.0007 33.6671C13.9268 33.6671 13.3266 33.6493 11.3259 33.5583V33.5586ZM11.1672 0.112088C9.59104 0.142448 8.03158 0.433021 6.55526 0.971431C5.28728 1.43599 4.13856 2.16412 3.18914 3.1051C2.2217 4.02863 1.47359 5.14715 0.997353 6.38214C0.444504 7.8197 0.146193 9.33818 0.115122 10.8729C0.0216087 12.8455 0 13.476 0 18.5C0 23.524 0.0216087 24.1545 0.115122 26.1271C0.14634 27.6617 0.444777 29.1801 0.997725 30.6175C1.47395 31.8525 2.22191 32.9711 3.18914 33.8949C4.13888 34.8354 5.28733 35.5636 6.55488 36.0289C8.03127 36.5671 9.59069 36.8577 11.1668 36.8883C13.194 36.9779 13.8404 37.0004 19.0004 37.0004C24.1604 37.0004 24.8079 36.9793 26.8339 36.8883C28.4101 36.8579 29.9695 36.5673 31.4459 36.0289C32.7084 35.5537 33.8549 34.8268 34.812 33.895C35.7691 32.9631 36.5157 31.8467 37.0038 30.6175C37.5574 29.1803 37.8559 27.6618 37.8864 26.1271C37.9784 24.153 37.9981 23.524 37.9981 18.5C37.9981 13.476 37.9765 12.8455 37.8864 10.8729C37.8552 9.33827 37.5568 7.8199 37.0038 6.3825C36.5259 5.14828 35.7782 4.02998 34.8123 3.1051C33.864 2.16366 32.7158 1.43533 31.4481 0.971069C29.9717 0.432382 28.4121 0.14192 26.8358 0.112088C24.8101 0.0224902 24.1622 0 19.0007 0C13.8392 0 13.1925 0.0210392 11.1657 0.112088"
              fill="url(#paint1_radial_1172:10)" />
          </g>
          <defs>
            <radialGradient id="paint0_radial_1172:10" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="translate(5.04861 37.1748) scale(49.6057 48.2984)">
              <stop offset="0.09" stop-color="#FA8F21" />
              <stop offset="0.78" stop-color="#D82D7E" />
            </radialGradient>
            <radialGradient id="paint1_radial_1172:10" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="translate(23.0464 38.8322) scale(39.0961 38.0657)">
              <stop offset="0.64" stop-color="#8C3AAA" stop-opacity="0" />
              <stop offset="1" stop-color="#8C3AAA" />
            </radialGradient>
            <clipPath id="clip0_1172:10">
              <rect width="38" height="37" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="col-6">
        <p style="margin:4px;font-size: 15px;color:#5C5C5C;"> abcstore</p>
      </div>
      <div class="col-4">
        <ion-toggle color="danger"></ion-toggle>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <svg style="margin-left: 10px;" width="30" height="35" viewBox="0 0 40 41" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0.854827 40.8334C0.629238 40.8334 0.409779 40.7446 0.247024 40.5807C0.0324696 40.3646 -0.0502871 40.0509 0.0303241 39.7576L2.64207 30.2618C1.01605 27.3342 0.15875 24.0225 0.159976 20.6606C0.164574 9.72772 9.10046 0.833374 20.0801 0.833374C25.4057 0.83551 30.4097 2.90094 34.1709 6.6485C37.9314 10.3964 40.0015 15.3784 40 20.6765C39.9951 31.6097 31.0592 40.5047 20.0801 40.5047C20.0801 40.5047 20.0719 40.5047 20.0716 40.5047C16.8646 40.5035 13.6852 39.7253 10.8543 38.2513L1.07153 40.8056C0.999804 40.8242 0.926856 40.8334 0.854827 40.8334Z"
            fill="#E5E5E5" />
          <path
            d="M0.85498 39.9823L3.55959 30.1486C1.89128 27.2705 1.01375 24.0057 1.01498 20.661C1.01927 10.1974 9.57141 1.68457 20.0803 1.68457C25.18 1.68671 29.9667 3.66303 33.5663 7.25006C37.1656 10.8371 39.1471 15.6052 39.1453 20.6763C39.1407 31.1395 30.5873 39.6536 20.0803 39.6536C20.0797 39.6536 20.0806 39.6536 20.0803 39.6536H20.072C16.8813 39.6524 13.7463 38.8556 10.9617 37.3434L0.85498 39.9823ZM11.4298 33.9081L12.0088 34.2496C14.4412 35.687 17.2301 36.4471 20.0742 36.4487H20.0803C28.8139 36.4487 35.9224 29.3723 35.9261 20.6751C35.9276 16.4603 34.281 12.4969 31.2892 9.51569C28.2971 6.53442 24.319 4.89166 20.0861 4.88983C11.3455 4.88983 4.23728 11.9653 4.23391 20.6622C4.23268 23.6426 5.07006 26.5448 6.65654 29.0564L7.03354 29.6533L5.43235 35.4736L11.4298 33.9081Z"
            fill="white" />
          <path
            d="M1.51758 39.3197L4.12871 29.826C2.51771 27.0477 1.67083 23.8955 1.67175 20.6671C1.67574 10.5657 9.9321 2.34766 20.0765 2.34766C25.0003 2.34979 29.6215 4.25775 33.0957 7.72058C36.5709 11.1834 38.4835 15.7864 38.4817 20.6814C38.4774 30.783 30.2207 39.002 20.0775 39.002C20.0765 39.002 20.0778 39.002 20.0775 39.002H20.0692C16.9891 39.0008 13.9624 38.2311 11.2743 36.7724L1.51758 39.3197Z"
            fill="#64B161" />
          <path
            d="M0.85498 39.9823L3.55959 30.1486C1.89128 27.2705 1.01375 24.0057 1.01498 20.661C1.01927 10.1974 9.57141 1.68457 20.0803 1.68457C25.18 1.68671 29.9667 3.66303 33.5663 7.25006C37.1656 10.8371 39.1471 15.6052 39.1453 20.6763C39.1407 31.1395 30.5873 39.6536 20.0803 39.6536C20.0797 39.6536 20.0806 39.6536 20.0803 39.6536H20.072C16.8813 39.6524 13.7463 38.8556 10.9617 37.3434L0.85498 39.9823ZM11.4298 33.9081L12.0088 34.2496C14.4412 35.687 17.2301 36.4471 20.0742 36.4487H20.0803C28.8139 36.4487 35.9224 29.3723 35.9261 20.6751C35.9276 16.4603 34.281 12.4969 31.2892 9.51569C28.2971 6.53442 24.319 4.89166 20.0861 4.88983C11.3455 4.88983 4.23728 11.9653 4.23391 20.6622C4.23268 23.6426 5.07006 26.5448 6.65654 29.0564L7.03354 29.6533L5.43235 35.4736L11.4298 33.9081Z"
            fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M15.3154 12.7277C14.9586 11.9379 14.5828 11.922 14.2432 11.9083C13.9655 11.8964 13.6477 11.897 13.3304 11.897C13.0129 11.897 12.4967 12.016 12.0603 12.4905C11.6235 12.9651 10.3926 14.1126 10.3926 16.4462C10.3926 18.7802 12.0998 21.0352 12.338 21.3519C12.5761 21.6684 15.6335 26.6104 20.4754 28.5117C24.4995 30.0919 25.3182 29.7775 26.1918 29.6985C27.0653 29.6195 29.0101 28.551 29.407 27.4435C29.8042 26.3361 29.8042 25.387 29.685 25.1883C29.5658 24.9909 29.2482 24.8721 28.7719 24.635C28.2956 24.3979 25.9536 23.2501 25.5168 23.092C25.0801 22.9337 24.7625 22.8549 24.445 23.3298C24.1271 23.804 23.215 24.8721 22.937 25.1883C22.659 25.5054 22.381 25.545 21.9047 25.3076C21.4283 25.0699 19.894 24.5694 18.0739 22.9535C16.6579 21.6965 15.7016 20.1437 15.4236 19.6689C15.1459 19.1946 15.419 18.9603 15.6329 18.7012C16.0182 18.2346 16.6646 17.3956 16.8234 17.0795C16.9822 16.7627 16.9028 16.4859 16.7839 16.2485C16.6646 16.0114 15.7387 13.6658 15.3154 12.7277Z"
            fill="white" />
        </svg>

      </div>
      <div class="col-6">
        <p style="margin:4px;font-size: 15px;color:#5C5C5C;">9876543210</p>
      </div>
      <div class="col-4">
        <ion-toggle checked color="danger"></ion-toggle>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <svg style="margin-left: 10px;" width="30" height="35" viewBox="0 0 36 36" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M36 18C36 18.1847 35.9969 18.3663 35.9906 18.5478C35.9124 21.3393 35.1801 24.0735 33.8525 26.5304C33.6522 26.903 33.4393 27.2692 33.2108 27.6261C31.0424 31.0502 27.7837 33.644 23.9603 34.9889C22.2187 35.6002 20.3929 35.9382 18.5478 35.9906C18.3663 35.9969 18.1847 36 18 36C17.8153 36 17.6337 35.9969 17.4522 35.9906C15.6071 35.9382 13.7813 35.6002 12.0397 34.9889C8.21632 33.644 4.95758 31.0502 2.78922 27.6261C2.5607 27.2692 2.34783 26.903 2.14748 26.5304C0.819938 24.0735 0.0876035 21.3393 0.00939137 18.5478C0.0031305 18.3663 0 18.1847 0 18C0 17.8153 0.0031305 17.6337 0.00939137 17.4522C0.0876035 14.6607 0.819938 11.9265 2.14748 9.46957C2.34783 9.09704 2.5607 8.73078 2.78922 8.37391C4.95758 4.94977 8.21632 2.35601 12.0397 1.01113C13.7813 0.399761 15.6071 0.0618426 17.4522 0.00939137C17.6337 0.0031305 17.8153 0 18 0C18.1847 0 18.3663 0.0031305 18.5478 0.00939137C20.3929 0.0618426 22.2187 0.399761 23.9603 1.01113C27.7837 2.35601 31.0424 4.94977 33.2108 8.37391C33.4393 8.73078 33.6522 9.09704 33.8525 9.46957C35.1801 11.9265 35.9124 14.6607 35.9906 17.4522C35.9969 17.6337 36 17.8153 36 18Z"
            fill="#85C646" />
          <path
            d="M35.9906 18.5478C35.9969 18.3663 36 18.1847 36 18C36 17.8153 35.9969 17.6337 35.9906 17.4522H28.4431C28.4198 14.7653 28.106 12.0889 27.5071 9.46957H33.8525C33.6522 9.09704 33.4393 8.73078 33.2108 8.37391H27.2317C26.5732 5.74963 25.4665 3.25876 23.9603 1.01113C23.3681 0.802708 22.7652 0.626108 22.1541 0.482087C23.8226 2.37913 25.1781 5.09948 26.0953 8.37391H18.5478V0.00939137C18.3663 0.0031305 18.1847 0 18 0C17.8153 0 17.6337 0.0031305 17.4522 0.00939137V8.37391H9.9047C10.8219 5.09948 12.1774 2.37913 13.8459 0.482087C13.2348 0.626108 12.6319 0.802708 12.0397 1.01113C10.5335 3.25876 9.42678 5.74963 8.76835 8.37391H2.78922C2.5607 8.73078 2.34783 9.09704 2.14748 9.46957H8.49287C7.894 12.0889 7.58017 14.7653 7.55687 17.4522H0.00939137C0.0031305 17.6337 0 17.8153 0 18C0 18.1847 0.0031305 18.3663 0.00939137 18.5478H7.55687C7.58017 21.2347 7.894 23.9111 8.49287 26.5304H2.14748C2.34783 26.903 2.5607 27.2692 2.78922 27.6261H8.76835C9.42554 30.2508 10.5323 32.7419 12.0397 34.9889C12.6319 35.1973 13.2348 35.3739 13.8459 35.5179C12.1774 33.6209 10.8219 30.9005 9.9047 27.6261H17.4522V35.9906C17.6337 35.9969 17.8153 36 18 36C18.1847 36 18.3663 35.9969 18.5478 35.9906V27.6261H26.0953C25.1781 30.9005 23.8226 33.6209 22.1541 35.5179C22.7652 35.3739 23.3681 35.1973 23.9603 34.9889C25.4689 32.7426 26.5758 30.2513 27.2317 27.6261H33.2108C33.4393 27.2692 33.6522 26.903 33.8525 26.5304H27.5071C28.106 23.9111 28.4198 21.2347 28.4431 18.5478H35.9906ZM17.4522 26.5304H9.62296C9.00202 23.9142 8.67651 21.2366 8.65252 18.5478H17.4522V26.5304ZM17.4522 17.4522H8.65252C8.6767 14.7634 9.00221 12.0858 9.62296 9.46957H17.4522V17.4522ZM26.377 26.5304H18.5478V18.5478H27.3475C27.3233 21.2366 26.9978 23.9142 26.377 26.5304ZM18.5478 17.4522V9.46957H26.377C26.998 12.0858 27.3235 14.7634 27.3475 17.4522H18.5478Z"
            fill="#6A9E38" />
          <path d="M3.52197 13.1478H32.4785V22.8522H3.52197V13.1478Z" fill="#E4E4E4" />
          <path
            d="M7.29199 15.6913H8.21265L9.20062 18.998L10.2963 15.6913H11.2104L12.2991 18.998L13.2871 15.6913H14.2077L12.7493 20.3087H11.9094L10.7533 16.8812L9.59067 20.3087H8.75735L7.29199 15.6913Z"
            fill="#6A9E38" />
          <path
            d="M14.542 15.6913H15.4642L16.4522 18.998L17.5478 15.6913H18.4619L19.5507 18.998L20.5355 15.6913H21.4562L19.9977 20.3087H19.1581L18.0033 16.8812L16.8416 20.3087H16.007L14.542 15.6913Z"
            fill="#6A9E38" />
          <path
            d="M21.7925 15.6913H22.7131L23.7011 18.998L24.7968 15.6913H25.7108L26.7996 18.998L27.7876 15.6913H28.7082L27.2498 20.3087H26.4096L25.2535 16.8812L24.0912 20.3087H23.2575L21.7925 15.6913Z"
            fill="#6A9E38" />
        </svg>

      </div>
      <div class="col-6">
        <p style="margin:4px;font-size: 15px;color:#5C5C5C;"> www.abc.com</p>
      </div>
      <div class="col-4">
        <ion-toggle checked color="danger"></ion-toggle>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <svg style="margin-left: 10px;" width="30" height="35" viewBox="0 0 36 36" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M18 36C27.9411 36 36 27.9411 36 18C36 8.05887 27.9411 0 18 0C8.05887 0 0 8.05887 0 18C0 27.9411 8.05887 36 18 36Z"
            fill="#007CFF" />
          <path
            d="M27 21.7215C25.0583 21.7215 23.2065 21.2985 21.4988 20.4638C21.231 20.3355 20.9205 20.3152 20.637 20.412C20.3535 20.511 20.1218 20.718 19.9913 20.9857L19.1812 22.662C16.7512 21.267 14.7352 19.2487 13.338 16.8187L15.0165 16.0087C15.2865 15.8782 15.4912 15.6465 15.5903 15.363C15.687 15.0795 15.669 14.769 15.5385 14.5013C14.7015 12.7958 14.2785 10.944 14.2785 9C14.2785 8.379 13.7745 7.875 13.1535 7.875H9C8.379 7.875 7.875 8.379 7.875 9C7.875 19.5457 16.4543 28.125 27 28.125C27.621 28.125 28.125 27.621 28.125 27V22.8465C28.125 22.2255 27.621 21.7215 27 21.7215Z"
            fill="white" />
        </svg>

      </div>
      <div class="col-6">
        <p style="margin:4px;font-size: 15px; color:#5C5C5C;">98765 47670</p>
      </div>
      <div class="col-4">
        <ion-toggle checked color="danger"></ion-toggle>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="PopupModel" style="margin-top: 20px;" id="card">
    <div class="row" id="modal">
      <div class="hidden">
        <div class="col-12 ion-text-left " style="margin-top: 20px;">
          <svg (click)="backToprivious()" style="margin-top:-8px;cursor:pointer" xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="#FF6000" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
          </svg>
        </div>
        <h5 style="margin:10px; color: #5C5C5C;"> <b>Edit Here:</b></h5>
        <div class="row" style="padding-left: 10px;">
          <div class="col-6">
            <p class="edit-name">Mobile number :</p>
          </div>
          <div class="col-6">
            <input type="text" id="edit-field" [value]="userdetails.mobile">
          </div>
        </div>

        <div class="row" style="padding-left: 10px;">
          <div class="col-6">
            <p class="edit-name">Email:</p>
          </div>
          <div class="col-6">
            <input type="text" id="edit-field" [value]="userdetails.email">
          </div>
        </div>

        <div class="row" style="padding-left: 10px;">
          <div class="col-6">
            <p class="edit-name">Password:</p>
          </div>
          <div class="col-6">
            <input type="text" id="edit-field" [value]="userdetails.username">
          </div>
        </div>

        <div class="row" style="padding-left: 10px;">
          <div class="col-6">
            <p class="edit-name">Store Location :</p>
          </div>
          <div class="col-6">
            <input type="text" id="edit-field" value="Peelamedu">

            <svg style="margin-left: -5px;margin-top:5px" width="30" height="36" viewBox="0 0 22 28" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_1176:710)">
                <path
                  d="M17 6C17 4.4087 16.3679 2.88254 15.2426 1.75732C14.1174 0.632106 12.5913 0 11 0C9.4087 0 7.88258 0.632106 6.75736 1.75732C5.63214 2.88254 5 4.4087 5 6C5 10.5 11 17 11 17C11 17 17 10.5 17 6ZM9 6C9 5.60444 9.1173 5.21781 9.33706 4.88892C9.55682 4.56002 9.86918 4.3036 10.2346 4.15222C10.6001 4.00085 11.0022 3.96128 11.3902 4.03845C11.7781 4.11562 12.1345 4.30611 12.4142 4.58582C12.6939 4.86552 12.8844 5.2219 12.9616 5.60986C13.0387 5.99783 12.9991 6.39993 12.8478 6.76538C12.6964 7.13083 12.44 7.4432 12.1111 7.66296C11.7822 7.88273 11.3956 8 11 8C10.4701 7.99842 9.96227 7.78721 9.58754 7.41248C9.21281 7.03775 9.00158 6.52995 9 6ZM4 18V20H18V18H4Z"
                  fill="white" />
                <path
                  d="M11 16.2471C10.8514 16.0761 10.6636 15.8562 10.4477 15.5953C9.89187 14.9237 9.15161 13.9828 8.41236 12.9047C7.67214 11.8252 6.93926 10.6173 6.39298 9.41093C5.84386 8.19829 5.5 7.02331 5.5 6C5.5 4.54131 6.07946 3.14233 7.11091 2.11088C8.14236 1.07943 9.5413 0.5 11 0.5C12.4587 0.5 13.8576 1.07943 14.8891 2.11088C15.9205 3.14233 16.5 4.54131 16.5 6C16.5 7.02331 16.1561 8.19829 15.607 9.41093C15.0607 10.6173 14.3279 11.8252 13.5876 12.9047C12.8484 13.9828 12.1081 14.9237 11.5523 15.5953C11.3364 15.8562 11.1486 16.0761 11 16.2471ZM8.5 6L8.5 6.00149C8.50198 6.66353 8.76585 7.29789 9.23398 7.76603C9.70212 8.23417 10.3365 8.49802 10.9985 8.5H11C11.4944 8.5 11.9778 8.35341 12.3889 8.0787C12.8001 7.80399 13.1205 7.41353 13.3097 6.95672C13.4989 6.49991 13.5484 5.99727 13.452 5.51232C13.3555 5.02737 13.1174 4.5819 12.7678 4.23226C12.4181 3.88263 11.9727 3.64452 11.4877 3.54806C11.0028 3.4516 10.5001 3.50105 10.0433 3.69028C9.58643 3.87952 9.196 4.20005 8.92132 4.61113C8.64663 5.02224 8.5 5.50553 8.5 6ZM17.5 19.5H4.5V18.5H17.5V19.5Z"
                  stroke="black" />
              </g>
              <defs>
                <filter id="filter0_d_1176:710" x="0" y="0" width="22" height="28" filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1176:710" />
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1176:710" result="shape" />
                </filter>
              </defs>
            </svg>

          </div>
        </div>

        <div style="width: 100%; text-align: center;">
          <button type="button" (click)="updateProfile()" class="btn btn-success btn-sm update-btn">Update</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>