
*{
  color:#5C5C5C;
}
.card{
    background-color: #fff;
    border:1px solid #bfbfbf;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #ccc !important;
    width:96% !important;
    margin:5px;
  }
  img{
    margin:12px 10px;
    height:65px;
    width:75x
  }
  .offer-btn{
    margin:25px !important;
    background-color: #FF6000 !important;
    border:1px solid #fff;
    border-radius: 5px;
    color: #fff;
  }
  .product-name{
    margin-top: -10px !important;
    text-align: center;
}
.badge{
    font-size: 10px !important;
    margin-left:20px !important;
    color:#50C7C8
    ;
}


#offer:focus {
  outline: none !important;
  border:1px solid #fff;
  box-shadow: 0 0 2px #e9f3ff;
}

.confirm-btn{
  border-radius: 5px !important;
  width: 50%;
  height:35px;
  background-color: #FF6000;
  color:#fff;
  border:1px solid #fff;
  margin:5px;
}
#card{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #ccc;
  margin-bottom: 5px;
  border:1px solid #ebe6e6;
}
#blurred {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);    
}
#kg-dropdwon {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
  
}
input[type=text] {
  font-size: 15px;
  margin: 0 5px;
  width: 90%;
  box-sizing: border-box;
  border: none;
  background-color: #fff;
  border-bottom: 2px solid #FF6000;
}
input:focus {
  outline: none !important;
  border:1px solid #e9f3ff !important;
  box-shadow: 0 0 2px #8b8d91;
}

#edit{
  cursor: pointer;
}
.myproduct-div{
  position: absolute;
  background-color: #fff;
  border:1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px #ebe6e6;
  width:96% !important;
  margin:5px;
  
}

.repost-btn{
  background-color: #29C17E;
  color:#fff;
  // margin-top: -5px;
  text-align: center;
 
}
ion-content {
  background-color:#F4F7FA  !important;
  // background: linear-gradient(to bottom, darkturquoise
  // 0%, #d1f2e7
  // 100%) !important;

  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
      display: none;
  }
}