<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button style="margin-top:15px;color:#fff" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <div class="row">
      <div class="col-5 ">
        <!-- <img  id="logo"  src="assets/logo.jpeg" alt=""> -->
        <h5 style="color:#fff;margin-top:30px">24HRS</h5>
      </div>
      <div class="col-7" style="text-align: right;width: 90%;margin-top: -40px;">

        <svg style="margin:5px;text-align:right" width="16" height="20" viewBox="0 0 16 20" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.0002 0C7.11654 0 6.4002 0.716344 6.4002 1.6V1.80156C3.63963 2.51189 1.5998 5.01775 1.5998 8.00003V13.6H2C0.895431 13.6 0 14.4955 0 15.6V15.8C0 16.3523 0.447715 16.8 1 16.8H15C15.5523 16.8 16 16.3523 16 15.8V15.6C16 14.4955 15.1046 13.6 14 13.6H14.3998V8.00003C14.3998 5.01803 12.3604 2.51237 9.60019 1.80176V1.6C9.60019 0.716344 8.88385 0 8.0002 0ZM5.5998 17.6C5.5998 18.9255 6.67432 20 7.9998 20C9.32529 20 10.3998 18.9255 10.3998 17.6H5.5998Z"
            fill="white" />
        </svg>
      </div>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div class=" card" style="background-color: #fff;">
    <div id="dynamicSpline" style="background-color: #fff;"></div>

    <div class="row mt-2">
      <div class="col-4">
        <div class="row">
          <div class="col-2">
            <ion-badge style="background-color: #29C17E;">80%</ion-badge>
          </div>
          <div class="col-10">
            <p class="viewSts" style="font-size: 10px;"> Viewed</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2">
            <ion-badge style="background-color: #FEC501;">12%</ion-badge>
          </div>
          <div class="col-10">
            <p class="viewSts" style="font-size: 10px;"> Not viewed</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2">
            <ion-badge style="background-color: #5BC0EB;">8%</ion-badge>
          </div>
          <div class="col-10">
            <p class="viewSts" style="font-size: 10px; "> Expired</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class=" card">

    <div class="row">
      <div class="col-6">
        <b style="font-size: 13px;margin:10px;color: #5C5C5C"> Offers Posted</b>
      </div>

      <div class="col-3">
        <b style="font-size: 13px;margin-left:5px;color: #5C5C5C"> Date</b>
      </div>

      <div class="col-3">
        <b style="font-size: 13px;margin-left:5px;color: #5C5C5C;"> Time</b>
      </div>

    </div>

    <div class="row mt-3">
      <div class="col-6">
        <b style="font-size: 13px;margin:10px;color: #29C17E"> Red Onions</b>
      </div>

      <div class="col-3">
        <p style="font-size: 13px;margin-left:-22px;color: #5C5C5C"> 15/06/2021</p>
      </div>

      <div class="col-3">
        <p style="font-size: 13px;margin-left:2px;color: #5C5C5C;"> 13:04</p>
      </div>

    </div>

    <div class="row">
      <div class="col-6">
        <b style="font-size: 13px;margin:10px;color: #29C17E"> Carrot</b>
      </div>

      <div class="col-3">
        <p style="font-size: 13px;margin-left:-22px;color: #5C5C5C"> 17/06/2021</p>
      </div>

      <div class="col-3">
        <p style="font-size: 13px;margin-left:2px;color: #5C5C5C;">21:10</p>
      </div>

    </div>

    <div class="row">
      <div class="col-6">
        <b style="font-size: 13px;margin:10px;color: #29C17E"> Ginger</b>
      </div>

      <div class="col-3">
        <p style="font-size: 13px;margin-left:-22px;color: #5C5C5C"> 13/06/2021</p>
      </div>

      <div class="col-3">
        <p style="font-size: 13px;margin-left:2px;color: #5C5C5C;"> 18:04</p>
      </div>

    </div>


  </div>

</ion-content>