@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.dot {
    margin:15px;
    margin-top: 0 !important;
    height: 60%;
    width: 75%;
    background-color: #fffcfa
    ;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 5.5);
  }
  .count{
      padding: 25px;
      text-align: center;
      color: #FF6000;
      font-size: 25px;
      font-family: 'Quicksand', sans-serif !important;
  }
  .views{
      margin-top:  -10px !important;
      text-align: center;
      color: #5C5C5C;
  }
  .offer-btn{
    margin:15px;
    margin-top: 0 !important;
    background-color: #FF6000
    ;
    border:1px solid #fff;
  }
  .myproducts-btn{
    margin:15px;
    background-color:#FF6000
    ;
    border:1px solid #fff;
    border-radius: 5px;
  }
  ion-list{
    background-color: #ebf9f9 !important;
  }
  ion-item{
    background-color: #ebf9f9 !important;
  }
  .card{
    background-color: #fff;
    height:35px;
    text-align: center;
    border:1px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width:96% !important;
    margin:5px;
  }
  .myproduct-div{
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width:96% !important;
    margin:5px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    border:1px solid #fff;
    
  }
  ion-chip{
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 5.5);
  }
  ion-content {
    background-color:#F4F7FA !important;
    // background: linear-gradient(to bottom, #fff
    // 0%, #d1f2e7
    // 100%) !important;

    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }


  