*{
  color:#5C5C5C;
}

.cost{
    width:55px;
    border-radius: 5px;
    margin:15px;
    text-align: center;
}
.addproduct-btn{
    border-radius: 5px !important;
    width: 50%;
    height:35px;
    background-color: #FF6000;
    border:1px solid #fff;
    margin:5px;
    color: #fff;
}
#upload{
    cursor: pointer;
}
input[type=text] {
    margin: 0 5px;
    margin-top: -12px;
    width: 90%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #FF6000
    ;
  }

#offer:focus {
    outline: none !important;
    border:1px solid #e9f3ff !important;
    box-shadow: 0 0 2px #8b8d91;
   
  }

  #kg-dropdwon {
    position: relative;
    display: flex;
    width: 90%;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    margin-left: 2%;
  
  }
  .select {
    position: relative;
    display: flex;
    width: 97%;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
   
  
  }

  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
  
  .submit-btn{
    border-radius: 5px !important;
    width: 50%;
    height:35px;
    background-color: #FF6000;
    border:1px solid #fff;
    color:#fff;
    margin:5px;
  }
  
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    z-index: 2;
    cursor: pointer;
  }
  #card{
  position:absolute;
  height:2500px !important;
  width:1500px !important;
  margin-left: -10px;
  background-color: rgba(0,0,0,0.4);
  border:1px solid #ebe6e6;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #ccc;
  margin-top: -185px !important;
  z-index: 2;

  }
  #modal{
    position:fixed;
    top:35%;
    margin:5%;
    background-color: #fff;
    border:1px solid #ebe6e6;
    border-radius: 5px;
    // box-shadow: 2px 2px 2px 2px #ccc;
    width:85% !important;
    animation-name: example;
    animation-duration: 1s;  
    animation-fill-mode: forwards;
    
  }
  @keyframes example {
    from {top: 0px;}
    to {top: 200px; background-color: #fff;}
  }
  ion-content {
    background-color:#fff !important;
    // background: linear-gradient(to bottom, #fff
    // 0%, #d1f2e7
    // 100%) !important;

    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }