
<ion-content >

  <div  class="row mt-3" >
    <div >
      <p style="margin:10px" > Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium consectetur nostrum enim accusantium provident excepturi sunt perspiciatis ullam corporis aliquid fugiat, aliquam porro nobis cupiditate accusamus aperiam! Quae, unde quidem.</p>
  </div>
  </div> 
</ion-content>

