<ion-content class="bg-class">
  <div class="container">
   
    <div class="signin-div ">
      <div class="row mt-4">
        <div class="col-7">
          <p class="get-started mt-2"><b>Getting Started</b></p>
          <p class="create-account">Create an account to continue!</p>
        </div>
        <div class="col-5 ion-text-center" >
          <img id="logo" style="margin-top: -20px;" height="90px" width="95px" src="assets/logo.jpeg" alt="">
        </div>

      </div>
      <div class="input-field">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="mail"></ion-icon> EMAIL
          </ion-label>
          <ion-input required (keyup)="isEmail()" [(ngModel)]="emailid"></ion-input>
          <p *ngIf="isNotEmailAlert" style="color:red;font-size: 10px"> Incorrect Email Address </p>
        </ion-item>

        <ion-item>
          <ion-label position="floating">
            <ion-icon name="person"></ion-icon> USER NAME
          </ion-label>
          <ion-input required [(ngModel)]="sellername"></ion-input>
          <p *ngIf="isUserNameAlert" style="color:red;font-size: 10px"> Incorrect User name </p>
        </ion-item>

        <ion-item>
          <ion-label position="floating">
            <ion-icon name="call"></ion-icon>MOBILE
          </ion-label>
          <ion-input required [(ngModel)]="mobilenumber" type="number"></ion-input>
          <p *ngIf="isNotMbileAlert" style="color:red;font-size: 10px;"> Incorrect Mobile number </p>
        </ion-item>

        <ion-item>
          <ion-label position="floating"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-file-lock2-fill" viewBox="0 0 16 16">
              <path d="M7 6a1 1 0 0 1 2 0v1H7V6z" />
              <path
                d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-2 6v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V8.3c0-.627.46-1.058 1-1.224V6a2 2 0 1 1 4 0z" />
            </svg> PASSWORD</ion-label>
          <ion-input required [(ngModel)]="password" (keyup)="passwordValidation(password)" > </ion-input>
          <p *ngIf="pwLowercaseAlert" style="color:red;font-size: 10px;"> A <b>lowercase</b> letter </p>
          <p *ngIf="pwUppercaseAlert" style="color:red;font-size: 10px;"> A <b>capital (uppercase)</b> lette</p>
          <p *ngIf="pwNumberAlert" style="color:red;font-size: 10px;"> A <b>number</b> </p>
          <p *ngIf="pwMinimumAlert" style="color:red;font-size: 10px;">Minimum <b>8 characters</b> </p>
          <p *ngIf="invalidAlert" style="color:red;font-size: 10px;"><b>Invalid</b> </p>
        </ion-item>
      </div>

      <div class="row">

        <div class="col-1 tearmsAndCondition" style="margin-left: 14px;">
          <ion-checkbox color="danger"></ion-checkbox>
        </div>
        <div class="col-8">
          <p class="tearmsAndCondition" (click)="popup()" >By creating an account, you agree to our
            <b> Terms & Conditions</b>
          </p>
        </div>
      </div>

      <div style="width:100%; text-align: center;">
        <button (click)="signup()" type="button" class="btn btn-primary  signup-btn mt-2">SIGN UP </button>
      </div>
      <p style="cursor: pointer;" (click)="signinPage()" class="condition ion-text-center">Already have an account? <b
          style="color:#FF6000"> Sign in</b></p>


    </div>
  </div>
</ion-content>