.location{
   color:#171717;
   font-size: 12px;
   margin:5px;
}
.get-started{
font-size: 20px;
color: #171717;
margin:8px;
}
.create-account{
font-size: 10px;
margin:8px;
}
.tearmsAndCondition{
    font-size:10px;
    margin:5px;
    cursor: pointer;
}
// .input-field{
//     margin-left :-10px;
   
// }
.signup-btn{
    border-radius: 5px !important;
    width: 50%;
    height:35px;
    background-color: #FF6000;
    color:#fff;
    border:1px solid #fff;
}
.tearmsAndCondition{
    font-size:10px;
}
ion-label{
    font-size:15px  !important;
    color:#6E7989;
}
ion-item{
    --background: transparent !important;
}
.condition{
    font-size: 12px;
    color:gray;
    padding: 15px;
}
.container{
    margin-top:95px;
}
ion-content {
    background-color:#fff !important;
    // background: linear-gradient(to bottom, darkturquoise
    // 0%, #d1f2e7
    // 100%) !important;

    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }