.element {
    margin-top: 60% !important;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    // background-color: red;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    // animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  
  @keyframes stretch {
    0% {
      transform: scale(.3);
      background-color: #fff;
      border-radius: 100%;
    }
    50% {
      background-color: #fff;
    }
    100% {
      transform: scale(1.5);
      background-color: #fff;
    }
  }
  
  body,
  html {
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

