<ion-content class="mt-2">
  <div class="myproduct-div mt-5 ">

    <div class="row">
      <div class="col-7">
        <ion-icon (click)="navigateHome()" style="margin:20px;cursor:pointer;color:#FF6000" name="close"></ion-icon>

      </div>
      <div class="col-5 ion-text-center">
        <img id="logo" height="100px" width="120px" src="assets/logo.jpeg" alt="">
      </div>

    </div>
    <p style="font-size:20px;margin-left:10px;margin-top:10px; color: #5C5C5C;"> Provide Your Details:</p>

    <div class="row" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">Store logo:</p>
      </div>
      <div class="col-6">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_GZxjzF.json" background="transparent"
          speed="1.5" style="width:40%;margin-left:5px;" loop autoplay></lottie-player>
      </div>
    </div>

    <div class="row mt-4" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">Store Name:</p>
      </div>
      <div class="col-6">
        <input type="text" id="edit-field" value="9876543210">
      </div>
    </div>

    <div class="row" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">Store Address:</p>
      </div>
      <div class="col-6">
        <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_CEyvj2.json" background="transparent"
          speed="1.5" style="width:50%;margin-left:5px;" loop autoplay></lottie-player>
      </div>
    </div>

    <div class="row" style="padding-left: 10px;">
      <div class="col-6 mt-3">
        <p class="edit-name">Store category:</p>
      </div>
      <div class="col-6">
        <div class="select" >
          <select  [(ngModel)]="Category" placeholder="category">
            <option *ngFor="let cat of categoryList" value="{{cat.category}}">{{cat.category}}</option>
          </select>
        </div>
    </div>
    </div>

    <div class="row" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">User Name:</p>
      </div>
      <div class="col-6">
        <input type="text" id="edit-field" value="Ravi">
      </div>
    </div>

    <div class="row" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">User Number:</p>
      </div>
      <div class="col-6">
        <input type="text" id="edit-field" value="9876543210">
      </div>
    </div>

    <div class="row" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">Id Proff:</p>
      </div>
      <div class="col-6">
        <lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_0pkhkmwj.json" background="transparent"
          speed="1.5" style="width:50%;margin-left:5px;" loop autoplay></lottie-player>
      </div>
    </div>

    <div class="row" style="padding-left: 10px;">
      <div class="col-6">
        <p class="edit-name">Address Proff:</p>
      </div>
      <div class="col-6">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_jxgqawba.json" background="transparent"
          speed="1.5" style="width:50%;margin-left:5px;" loop autoplay></lottie-player>
      </div>
    </div>

    <div class="row ">
       <div class="col-7">
        <button (click)="navigateHome()" type="button" class="btn btn-success btn-sm skip-btn">Skip</button>
       </div>
       <div class="col-5">
        <button (click)="navigateHome()" type="button" class="btn btn-success btn-sm update-btn">Submit</button>
      </div>
    </div>
  </div>
</ion-content>