.myproduct-div{
    position: absolute;
    background-color: #fff;
    border:1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #ebe6e6;
    width:96% !important;
    margin:5px;
    
  }
  input[type=text] {
    font-size: 11px;
    margin: 0 5px;
    margin-top: -12px;
    margin-left: -20px;
    width: 90%;
    box-sizing: border-box;
    border: none;
    background-color: #fff;
    border-bottom: 2px solid #FF6000;;
  }
  input:focus {
    outline: none !important;
    border:1px solid #fff !important;
    box-shadow: 0 0 2px #e9f3ff;
  }
  .update-btn{
    border-radius: 5px !important;
    background-color: #FF6000;
    color:#fff;
    height:25px;
    width:55%;
    text-align: center;
    border:1px solid #fff;
    font-size: 12px !important;
    padding: 3px;
    margin:10px !important;
    margin-left: 35px !important ;
}
.skip-btn{
  border-radius: 5px !important;
  background-color: #fff;
  color:#FF6000;
  height:25px;
  width:25%;
  text-align: center;
  border:1px solid #fff;
  font-size: 13px !important;
  padding: 3px;
  margin:10px !important;
}
lottie-player{
    cursor: pointer;
}

select{
  border: 1px solid #fff;
 
}
ion-content {
  --background:#F4F7FA  !important;
  overflow: auto;
  &::-webkit-scrollbar {
      display: none;
  }
}